<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title | default("Team Rocket Super Secret Messaging System", true) }}</title>

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    {% include "templates/navbar.html" %}

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          {% include "templates/alerts.html" %}

          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div><!-- /.container -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
  </body>
</html>
